@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.otf')
}

body {
    margin: 0;
    padding: 0 10rem;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.banner img {
    height: 799px;
    width: 420px;
}

.banner {
    position: relative;
}

.title {
    font-family: 'Norse-Bold', sans-serif;
    height: 110px;
    width: 420px;
    position: absolute;
    color:white;
    top: 185px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title > p {
    position: relative;
    top: 9px;
}

.content {
    width: 650px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    font-size: 12px;
    color: rgb(115, 114, 114);
}

.container {
    display: flex;
    flex-direction: column;
}

.inputs {
    display: flex;
    gap: 3rem;
}

input {
    width: 200px;
}

.title img {
    width: 70px;
    height: auto;
    color: white;
}

.desc, .account {
    background-color: rgb(248, 248, 248);
}

.desc, .account {
    height: 288px;
}

.text {
    position: relative;
    top: 115px;
    left: 25px;
}

.container > p, .container > form {
    padding-left: 25px;
}

.account > button {
    position: relative;
    left: 25px;
    top: 15px;
    background-color: #596D48;
    width: 9rem;
    color: white;
}

.error {
    border: 1px solid red;
}

